<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpage with Containers</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="box1">
        <h2 class="char-title">Vannskii - Stormrage</h2>
        <div class="pic-table-wrapper">
          <!-- Left: Image -->
          <div class="pic">
            <img src="../static/images/Mymage.jpg" alt="Image description" />
          </div>
          {% if parses %}
          <table border="1">
            <thead>
              <tr>
                {% for encounter_id in parses.keys() %}
                <th>{{ encounter_id }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for rank_percent in parses.values() %}
                <td>{{ rank_percent }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
          {% else %}
          <p>No encounter data available at the moment.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
